/*////////////////////////////////BODY//////////////////////////////////////////*/

body {
	padding: 0%;                /*Mise à zéro marges intérieures*/
	margin: 0%;                 /*Mise à zéro marges extérieures*/
	background-color: #d1d1d1; /*Couleur de fond de la page*/
}

/*///////////////////////////////HEADER/////////////////////////////////////////*/

img {
	width: 100%; /*Taille de l'image (largeur)*/
}

/*////////////Barre de navigation//////////////*/

nav {
	margin-top: 5%; /*Marge en haut de la barre de navigation, décolle du haut de la page*/
}

.navbar {
	background-color: #d1d1d1; /*La barre de navigation prend la couleur du background*/
	border:none;               /*Pas de bordure*/
	font-size: 1.8em;          /*Taille de la typo*/
}

.navbar-nav li:hover{            /*Quand on survol un lien de la barre de navigation*/
	background-color: #1693a5;
}

.navbar-default .navbar-nav li:hover a{     /*Quand le lien est survolé, la typo devient blanche*/
	color: white;
}

.navbar-default .navbar-nav > .open > a,           /*Quand l'un des liens de la barre de navigation est selectionné*/
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #1693a5;
}

.dropdown-menu {                                 /*Menu déroulant*/
	background-color: rgba(0,0,0,0.8);           /*Arrière plan avec un peu de transparence*/
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a { /*Pour que la couleur des liens ne change pas lorsque la souris n'est plus sur le menu séléctionné*/
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu li:hover a{ /*Quand on survol un lien d'un sous menu*/
 	background-color: #1693a5;
}

/*///////////////////////////////PARTENARIATS/////////////////////////////////////////*/

section {
	padding: 3%;
	background-color: white;
	box-shadow: 1px 2px 4px black;
}

.logoInstitution{
	margin-top: 10%;
	height: 100px;
	width: 100px;
}

.logo {
	margin-top: 5%;
	width: 200px;
}

.photo{
	width: 50%;
	border-radius: 40px;
}

h1{
	text-align: center;
	color: #1693a5;
	font-weight: 600;
	margin-bottom: 5%;
}

h2{
	font-size: 25px;
}

#entete{
	font-size: 30px;
}

/*/////////////////////////////FOOTER///////////////////////////////*/

footer {                 
	padding-top: 5%;     /*Marge intérieure haute du footer*/
}

footer a {               /*Lien contenu dans le footer*/
	color:#5d5d5d;
}

/*/////////////////////////////FORMAT TEL///////////////////////////////*/

@media screen and (max-width: 640px){
	
/*/////////////////////Navigation//////////////////*/
	img{
		margin-top: -15%;
	}

	nav{
		margin-top: -20%;
		margin-left:20%;
	}

	section{
		box-shadow: none;
	}
	
	.institution{
		padding: 4%;
	}
	
	#entete{
		font-size: 1.2em;
	}

	.photo{
		margin-top: 3%;
		width: 20%;
	}

	.logo{
		width: 40%;
	}

	.logoInstitution{
		margin-top: 0;
	}