/*////////////////////////////////BODY//////////////////////////////////////////*/

body {
	padding: 0%;                /*Mise à zéro marges intérieures*/
	margin: 0%;                 /*Mise à zéro marges extérieures*/
	background-color: #d1d1d1; /*Couleur de fond de la page*/
}

/*///////////////////////////////HEADER/////////////////////////////////////////*/

img {
	width: 100%; /*Taille de l'image (largeur)*/
}

/*////////////Barre de navigation//////////////*/

nav {
	margin-top: 5%; /*Marge en haut de la barre de navigation, décolle du haut de la page*/
}

.navbar {
	background-color: #d1d1d1; /*La barre de navigation prend la couleur du background*/
	border:none;               /*Pas de bordure*/
	font-size: 1.8em;          /*Taille de la typo*/
}

.navbar-nav li:hover{            /*Quand on survol un lien de la barre de navigation*/
	background-color: #1693a5;
}

.navbar-default .navbar-nav li:hover a{     /*Quand le lien est survolé, la typo devient blanche*/
	color: white;
}

.navbar-default .navbar-nav > .open > a,           /*Quand l'un des liens de la barre de navigation est selectionné*/
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #1693a5;
}

.dropdown-menu {                                 /*Menu déroulant*/
	background-color: rgba(0,0,0,0.8);           /*Arrière plan avec un peu de transparence*/
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a { /*Pour que la couleur des liens ne change pas lorsque la souris n'est plus sur le menu séléctionné*/
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu li:hover a{ /*Quand on survol un lien d'un sous menu*/
 	background-color: #1693a5;
}

/*//////////////////////////////SECTION FIL ACTU////////////////////////////////*/

#filActu {
	background-color: white; /*Fond de la section Fil d'actu*/
	padding: 3%;             /*Marge intérieur*/
	box-shadow: 1px 2px 4px black; /*Ombre portée de la section, se détache du fond*/
}

/*/////////////////////////////SECTION PRESSE///////////////////////////////*/

#presse {                      /*Arrière plan de la section presse*/        
	padding: 3%;
	background-color: white;
	box-shadow: 1px 2px 4px black;
}

#presse img {                  /*Images appartenant à la section presse*/
	width: 50%;
	margin-top:2%;
	margin-bottom: 2%;
}

/*/////////////////////////////ASIDE AGENDA+RESEAUX///////////////////////////////*/

aside {
	margin-top: -2%;                   
	padding-left: 10%;     /*Placement de la section contenant l'agenda et réseaux sociaux*/
}

aside h2 {                 /*H2 de l'aside*/
	color:#1693a5;
}

aside p{                        /*Texte contenu dans l'aside*/
    border: 2px outset;
}

thead{                       
    background-color: #d4e6f1;  /*Couleur de fond de l'entête du tableau composant l'agenda*/
} 

td{                             /*Cellules du corps de l'agenda*/
    font-size: 17px;            
    background-color: #FEF9E7;
}
                    
#reunion{                       /*Case de l'agenda mis en avant*/
    background-color: lightblue;
}
                     
 aside img{                     /*images dans l'aside*/
   	border-radius: 20px;
    width: 20px;
    height: 20px;
}
                   
/*/////////////////////////////FOOTER///////////////////////////////*/

footer {                 
	padding-top: 5%;     /*Marge intérieure haute du footer*/
}

footer a {               /*Lien contenu dans le footer*/
	color:#5d5d5d;
}

/*/////////////////////////////MENTIONS LEGALES///////////////////////////////*/

#mention {                       /*Arrière plan de la section comportant les mentions légales*/
	padding: 3%;
	background-color: white;
	box-shadow: 1px 2px 4px black;
}