/*//////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////BODY//////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

body {
	padding: 0%;                /*Mise à zéro marges intérieures*/
	margin: 0%;                 /*Mise à zéro marges extérieures*/
    background: url(https://s-media-cache-ak0.pinimg.com/736x/82/a6/6c/82a66c6b69a61564494a682e4fb0d704.jpg) no-repeat center fixed; 
    background-size: cover; /*Couleur de fond de la page*/
}

.container{                   /*Mise à zéro du padding du container de bootstrap*/
	padding: 0;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////HEADER/////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

/*////////////Bouton Don////////////////////////*/

#barre{
	height: 60px;
	background-color: #1D4B58;
	border-bottom: 5px solid #E0A377;
}

#placementDon{
	text-align: right;
}

#boutonDon {
	margin-top: 10px;
	margin-right: 20px;
	color: white;
	background-color: #F2F2F2;
	background-color: transparent;
}

#boutonDon span{
	color: #E0A377;
	font-size: 17px;
}

/*////////////Logo FACE//////////////*/

#logo {
	width: 100%; /*Taille*/
}

/*////////////Barre de navigation/////////////*/

.navbar {
	margin-top: 5%;
	background-color: transparent; /*La barre de navigation prend la couleur du background*/
	border:none;               /*Pas de bordure*/
	font-size: 1.5em;          /*Taille de la typo*/
}

.navbar-nav li:hover{            /*Quand on survol un lien de la barre de navigation*/
	background-color: rgba(18,110,122,0.4);
	border-bottom: 3px solid #CF844D;
}

.navbar-default .navbar-nav li:hover a{     /*Quand le lien est survolé, la typo devient blanche*/
	color: white;
}

.navbar-default .navbar-nav > .open > a,           /*Quand l'un des liens de la barre de navigation est selectionné*/
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(18,110,122,0.4);
}

.dropdown-menu {                                 /*Menu déroulant*/
	background-color: rgba(0,0,0,0.8);           /*Arrière plan avec un peu de transparence*/
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a { /*Pour que la couleur des liens ne change pas lorsque la souris n'est plus sur le menu séléctionné*/
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu li:hover a{ /*Quand on survol un lien d'un sous menu*/
 	background-color: rgba(18,110,122,0.4);
 }

/*//////////////////////////////////////////////////////////////////*/
/*/////////////////////////////FOOTER///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

footer {                 
	background-color: rgba(51,93,104,1);
	margin-top: 5%;
	padding: 20px 0 0 50px;
	width: 100%;
	border-top: 5px solid #E0A377;
	color: white;
}

footer a {               /*Lien contenu dans le footer*/
	color:white;
}

footer a:hover{
	color: #aaa9a9;
	text-decoration: none;
}

#lienMentions{
	padding-top: 10%;
	font-size: 10px;
}

/*///////////////////////////////Citation////////////////////////////////////////*/

blockquote {
	border-left:0;
	color: white;
	width: 100%;
	margin-bottom: 50px;
	background-color: rgba(18,110,122,0.5);
	font-size: 20px;
}

blockquote footer {
	margin-top: -1%;
	color: white;
	background-color: unset;
	border-top: none;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////SECTIONS////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

.titreSection{
	background-color: rgba(18,110,122,0.6);
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3); 
	padding: 1.5%;
	color: white;
	margin: 0;
	margin-top: 2%;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////SECTION FIL ACTU////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

#filActu {
	background-color: #F2F2F2; /*Fond de la section Fil d'actu*/
	padding:1% 3% 1% 3%;             
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3); /*Ombre portée de la section, se détache du fond*/
	margin-bottom: 2%;
}

#filActu h3{
	margin: 0 0 2% 0;
	font-weight: 600;
}

#filActu img {
	width: 50%;
	margin-bottom: 4%;
	border-right: 1px solid orange;
}

.articles {
	border-bottom: 2px solid #1693a5;
	padding-top: 5%;
	font-size: 1.1em;
}

#dernierArticle{
	border:none;
}

.pager {                    /*Bouton voir la suite*/
	text-align: right;
	font-size: 0.7em;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #1693a5;
  border-radius: 10px;
  color: #1693a5;
}

/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////SECTION PRESSE///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

#presse {                      /*Arrière plan de la section presse*/
	padding: 1% 0 3% 3%;       
	background-color: #F2F2F2;
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
}

#presse img {                  /*Images appartenant à la section presse*/
	margin:2% 0% 2% 0%;
	width: 100%;
}

#presse h4 {
	margin-bottom: 10%;
}

.lien {
	margin-left: 60%;
	text-decoration: none;
	background-color: #1693a5;
	color: white;
	padding: 3%;
}

.lien:hover {
	background-color: #d1d1d1;
	text-decoration: none;
	color: #1693a5;
}

/*/////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////FACEBOOK///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/

#facebookMobile{
	display: none;
}

#facebookTab{
	display: none;
}

aside {                   /*Placement de la section contenant réseaux sociaux*/
	margin-left: 5%;                 
	padding-left: 1%;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////MENTIONS LEGALES///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/

#mention {                       /*Arrière plan de la section comportant les mentions légales*/
	padding: 3%;
	background-color: white;
	box-shadow: 1px 2px 4px black;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////PRESENTATION///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

.presentation {                  /*Arrière plan de de la section contenant l'histoire et le palmarès*/
	padding: 3%;
	background-color: #F2F2F2;
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
}

#presentation img {
	width: 10%;
}

#Palmares h3{
	padding: 10px;
	margin-top: 40px;
	background-color: rgba(255, 160, 148, 0.1);
	border-bottom: 2px solid orange; 
	font-family: 'Abel', sans-serif;
	color: #794300;
}

.btn-group {          /*Bouton chronologie*/
	margin:2% 0 2% 0%;
}

.btn-default{
	font-weight: 600;
	background-color: #1693a5;
	border-color: #1693a5;
}

.btnChrono {
	color: white;
}

.articleChrono{
	display: none;
	margin-top: 2%;
}

#Grdf{
	color: white;
	margin-right: 2%;
}

/*//////////////////////////////////////////////////////////////////*/
/*/////////////////////////////CONTACT//////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

#sectionContact form {
	background-color: rgba(18,110,122,0.6);
	padding:2%;
	border-radius: 10px;
	border: 2px solid orange;
	color: white;
}

#sectionContact form h2 {
	padding-left: 4%;
	font-weight: 600;
}

#sectionContact form p {
	padding-left: 4%;
	margin-bottom: 2%;
}

#sectionContact label {
	margin-left: -5%;
}

.form-control {                             /*Champs du formulaire*/
	width: 50%;
	margin-bottom: 3%;
}

#sectionContact .form-control:focus {                      /*Lorsque l'on clique sur les champs du formulaire*/
  border-color: #5d5d5d;
  outline: 0;
  box-shadow: inset 0 1px 1px #5d5d5d, 0 0 8px #5d5d5d;
}

#sectionContact .form-horizontal .form-group{
	margin: 0;
}

#blocMail {
	margin-left: 13.3%;
	width: 60%;
}

#sectionContact .form-group-lg .btn-default {
	color: #5d5d5d;
}

#zoneTexte{
	margin:3% 0% 3% 2%;
	border-radius: 8px;
}

#labelZone{
	margin-top: 2%;
}

#contactFace{
	background-color: rgba(18,110,122,0.7);
	padding:10%;
	border-radius: 10px;
	border: 2px solid orange;
	color: white;
}

#contactFace p{
	font-size: 0.8em;
}

.glyphicon-home{
	color: white;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////PARTENARIATS/////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

#sectionPartenariat {
	padding: 3%;
	background-color: white;
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
}

.logo{
	padding-top: 20%;
	width: 70%;
}

.photo{
	width: 50%;
	border-radius: 40px;
}

#sectionPartenariat h1{
	text-align: center;
	font-weight: 600;
	margin-bottom: 5%;
	background-color: rgba(255, 160, 148, 0.13);
	border-bottom: 2px solid orange; 
	font-family: 'Abel', sans-serif;
	color: #794300;
	padding: 10px 30px 10px 30px;
}

#sectionPartenariat h3{
	font-size: 25px;
	margin-bottom: 3%;
}

/*////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////GALERIE///////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/

#galerie {
    background-color: white; /*Fond de la section Fil d'actu*/
    padding: 0 1.1% 0 1.3;
    box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
}

#galerie h3 {
    text-align: center;
    background-color: #008080 ;
    font-size: 30px;
    color: white;
    padding: 15px;
    background-color: rgba(255, 160, 148, 0.2);
	border-bottom: 3px solid orange; 
	font-family: 'Abel', sans-serif;
	color: #794300;
	margin-bottom: 40px;
	font-size: 40px;
}

#galerie img {
	margin-left:10%;
    width: 80%;
}

#galerie video {
    width: 100%;
    margin: 0 0 10% 0%;
}

.lightbox__caption p {
    font-size: 18px;
    line-height: 22px;
}

/*/////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////LA FABRIK///////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

#fabrik {
	background-color: white; /*Fond de la section Fil d'actu*/
	padding:1% 3% 1% 3%;             
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
	margin-bottom: 2%;
}

#fabrik .col-md-9 {
	padding-left: 3%;
}

#assemblée{
	margin-top: 2%;
	
}

#carroussel{
	margin-left: 7.5%;
	padding-bottom: 5%;
}

.imageCarousel{
	width: 100%;
}

.projet{
	width: 70%
}

#projetAvenir{
	background-color: white;
	padding: 4%;
}

.fabrikArticle{
	border: 1px solid #F4F4F5;
	margin-left: 5%;
	padding: 10px;
	background-color: #F4F4F5;
	border-radius: 5px;
}

.fabrikArticle h3{
	color: #E0A377;
}

.fabrikArticle img{
	border: 1px solid #5C949B;
}

.containerFabrik{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.containerFabrik img{
	width: 300px;
	height: 200px;
	margin: 5px;
}

.fabrikTitre{
	color:  #5C949B;
}

#titreProjet{
	background-color: rgba(18,110,122,0.7); 
	padding: 4%;
	color: white;
	margin: 0;
}

/*/////////////////////////////CARROUSSEL PHOTO///////////////////////////////*/

#h2photo {
	margin-left: 2%;
}

.carousel-page{
	margin-left: 10%;
	display: flex;
}

.carousel-page .img-responsive{
	width: 20%;
	height: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 7%;
}

.formatPaysage{
	padding-top: 10%;
}

span {                 /*Flèches*/
	padding-top: 6%;
	font-size: 2em;
	color: #1693a5;
}

.carousel-indicators li{
	border:1px solid #fbb829;
}

.carousel-indicators .active {
	background-color: #fbb829;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

/*/////////////////////CV de la page Apprenants//////////////////////////////////////*/

#sectionApprenant{
	margin-top: 5%;
} 

.lienApprenant{
	color:rgba(18,110,122,1);
}

.lienApprenant:hover{
	color: #aaa9a9;
	text-decoration: none;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}


small {
	display: block;
	line-height: 1.428571429;
	color: #999;
}
.well{
	border: 1px solid #BEBFBF;
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.1); 
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////FORMAT TEL///////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 640px){
	
/*/////////////////////Navigation//////////////////*/
	
	#boutonDon{
		margin-right: 0;
	}

	#placementDon{
		text-align: center;
	}

	#logo{
		margin:-15% 0 0 0;
	}

	.navbar{
		margin-top: -20%;
	}

/*/////////////////////Footer//////////////////*/
	
	footer {
		padding: 2% 0 2% 0;
		text-align: center;
	}

	#planSite{
		display: none;
	}
	#lienMentions{
		margin: 0;
		text-align: center;
	}	
	
/*/////////////////////Actu///////////////////////*/
	
	#filActu{
		box-shadow: none;
		padding: 4% 0% 4% 8%;
	}

	.titreSection{
		box-shadow: none;
		text-align: center;
	}

	#filActu img {
		display: none;
	}

/*/////////////////////Presse///////////////////////*/
	
	#presse{
		box-shadow: none;
	}

	.articles .row {
		margin: 0;
	}

	#presse article {
		margin-bottom: 10%;
	}

/*/////////////////////Facebook///////////////////////*/
	
	aside{
		margin-left: 0;
	}

	#facebookMobile{
		display: block;
		background-color: #1693a5;
		padding: 4%;
	}

	#facebookOrdi{
		display: none;
	}

	#facebookTab{
		display: none;
	}

/*/////////////////////Présentation//////////////////*/
	
	.presentation{
		padding: 5% 5% 30% 5%;
		box-shadow: none;
	}

	.btn-group {
		margin: 2% 0% 10% 9%;
		padding:0;
	}

	.btn-default{
		border-radius: 0;
		margin:0 2% 2% 0;
	}

/*/////////////////////Contact//////////////////*/
	
	#sectionContact label{
		margin-left: 0;
	}

	#sectionContact .form-control{
		width: 100%;
	}

	#blocMail{                /*Bloc contenant le @ et le champ mail*/
		margin-left: 5%;
		width: 94%;
	}

	#blocMail input{
		font-size: 1em;
	}

	#sectionContact .form-group-lg{          /*Bouton envoyer*/
		margin-bottom: 5%;
	}

	#zoneTexte{
		margin-left: 6%;
	}

	#contactFace{
		margin:3% 0 3% 0;
	}

/*/////////////////////Partenariat//////////////////*/

	#sectionPartenariat{
        box-shadow: none;
        margin: 0;
        padding: 4%;
    }

     #sectionPartenariat .row {
    	margin: 0;
    }

	.photo{
		margin-top: 3%;
		width: 20%;
	}

	.logo{
		width: 40%;
	}

	#sectionPartenariat h3{ 
        font-size: 1.5em;
    }

/*/////////////////////Galerie//////////////////*/

 	#galerie{
        box-shadow: none;
        padding: 0;
    }

    #galerie .row {
    	margin: 0;
    }

    .lightbox__caption p {
    	font-size: 12px;
    	line-height: 18px;
	}

/*/////////////////////La fabrik///////////////////////*/
	
	#fabrik{
		box-shadow: none;
		padding: 4%;
	}

	#fabrik article{
		padding: 4%;
	}

	.row #sectionApprenant{
		margin: 0;
		padding: 0;
	}

	#sectionApprenant {
		padding-left: 0;
		padding-right: 0;
	}

	#sectionApprenant a{
		word-wrap: break-word;
	}

/*/////////////////////Carroussel photo - MobilFirst///////////////*/

	.carousel-indicators{
		display: none;
	}

	.carousel-caption{
		visibility: hidden;
	}

	.formatPaysage{
		margin-top: 4%;
	}

/*/////////////////////Mentions///////////////*/

	#mention{
		box-shadow: none;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////FORMAT TABLETTE///////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 640px) and (max-width: 900px){

	.container{
		width: 100%;
	}

	.titreSection{
		box-shadow: none;
	}

/*///Navigation///*/

	.navbar{
		font-size: 1.1em;
		margin: 3% 0 3% 0;
		padding: 0;
	}

/*///Citation///*/

	blockquote {
		margin-bottom: 0;
	}

	blockquote h3 {
		font-size: 1.1em;
	}

/*///Accueil///*/

	#filActu{
		box-shadow: none;
		margin-right: 1%;
	}

	#filActu img{
		margin: 0 0 2% 0;
		border:none;
		width: 100%;
	}

	#avantDernierArticle{
		border:none;
	}

	#dernierArticle{
		display: none;
	}

	.lien{
		margin-left: 50%;
	}

	#facebookMobile{
		display: none;
	}

	#facebookTab{
		display: block;
		background-color: #1693a5;
		padding: 3%;
	}

	#facebookOrdi{
		display: none;
	}

/*///Présentation///*/

	.presentation{
		padding-bottom: 10%;
		box-shadow: none;
	}

	.btn-group {          /*Bouton chronologie*/
		margin: 2% 0 2% 0;
	}

/*///Contact///*/

	#contactFace{
		margin-top: 3%;
		padding: 0;
	}

	.glyphicon-home{
		margin: 0;
		padding: 0;
	}

/*///Galerie///*/

	#galerie{
		box-shadow: none;
	}

	#galerie video{
		margin: 0 0 2% 10%;
		width: 80%;
	}	

	
}