/*////////////////////////////////BODY//////////////////////////////////////////*/

body {
	padding: 0%;                /*Mise à zéro marges intérieures*/
	margin: 0%;                 /*Mise à zéro marges extérieures*/
    background: url(https://s-media-cache-ak0.pinimg.com/736x/82/a6/6c/82a66c6b69a61564494a682e4fb0d704.jpg) no-repeat center fixed; 
    background-size: cover; /*Couleur de fond de la page*/
}

h1 {
	color: #1693a5;
	margin-bottom: 5%;
}

.container{
	padding: 0;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////HEADER/////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

#logo {
	width: 100%; /*Taille de l'image (largeur)*/
}

/*////////////Barre de navigation//////////////*/

nav {
	margin-top: 5%; /*Marge en haut de la barre de navigation, décolle du haut de la page*/
}

#barre{
	height: 25px;
	background-color: #1D4B58;
	border-bottom: 3px solid #E0A377;
}

.navbar {
	background-color: transparent; /*La barre de navigation prend la couleur du background*/
	border:none;               /*Pas de bordure*/
	font-size: 1.8em;          /*Taille de la typo*/
}

.navbar-nav li:hover{            /*Quand on survol un lien de la barre de navigation*/
	background-color: #1693a5;
	border-bottom: 5px solid #CF844D;
}

.navbar-default .navbar-nav li:hover a{     /*Quand le lien est survolé, la typo devient blanche*/
	color: white;
}

.navbar-default .navbar-nav > .open > a,           /*Quand l'un des liens de la barre de navigation est selectionné*/
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #1693a5;
}

.dropdown-menu {                                 /*Menu déroulant*/
	background-color: rgba(0,0,0,0.8);           /*Arrière plan avec un peu de transparence*/
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a { /*Pour que la couleur des liens ne change pas lorsque la souris n'est plus sur le menu séléctionné*/
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu li:hover a{ /*Quand on survol un lien d'un sous menu*/
 	background-color: #1693a5;
}

/*//////////////////////////////////////////////////////////////////*/
/*/////////////////////////////FOOTER///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

footer {                 
	padding:2% 2% 2% 6%;
	background-color: rgba(51,93,104,1);
	margin: 2% -7.5% 0 -7.5%;
	color: white;
}

footer a {               /*Lien contenu dans le footer*/
	color:white;
}

footer a:hover{
	color: #aaa9a9;
	text-decoration: none;
}

#lienMentions{
	padding-top: 2%;
}

/*///////////////////////////////Citation////////////////////////////////////////*/

blockquote {
	border-left:none;
	margin-bottom: 0;
}

blockquote footer {
	margin-right: 0;
	margin-top: -1%;
	color: white;
	background-color: unset;
}

#citation {
	margin: -2% -7.5% 1% -8%;
	padding: 1.5%;
	background-color: rgba(18,110,122,0.7);
	font-size: 20px;
	color: white;
	font-weight: 400;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////SECTION FIL ACTU////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

#filActu {
	background-color: #F2F2F2; /*Fond de la section Fil d'actu*/
	padding:1% 3% 1% 3%;             
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3); /*Ombre portée de la section, se détache du fond*/
	margin-bottom: 2%;
}

#filActu h1{
	margin-bottom: 0;
}

#filActu h3{
	margin: 0;
	margin-bottom: 2%;
	font-weight: 600;
}

#filActu img {
	width: 50%;
	padding-top: 0%;
	margin-bottom: 4%;
	border-right: 1px solid orange;
}

.articles {
	border-bottom: 2px solid #1693a5;
	padding-top: 5%;
	font-size: 1.1em;
}

#dernierArticle{
	border:none;
}

.pager {                    /*Bouton voir la suite*/
	text-align: right;
	font-size: 0.7em;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #1693a5;
  border-radius: 10px;
}

.pager a {
	color: #1693a5;
}

/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////SECTION PRESSE///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

#presse {                      /*Arrière plan de la section presse*/       
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 3%;
	background-color: #F2F2F2;
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
}

#presse img {                  /*Images appartenant à la section presse*/
	margin:2% 0% 2% 0%;
	width: 100%;
}

#presse h1{
	margin-bottom: 0;
}

#presse h4 {
	margin-bottom: 10%;
}

.lien {
	margin-left: 60%;
	text-decoration: none;
	background-color: #1693a5;
	color: white;
	padding: 3%;
}

.lien:hover {
	background-color: #d1d1d1;
	text-decoration: none;
	color: #1693a5;
}

#lien2 {
	padding-bottom: 8%;
}

/*//////////////////////////////////////////////////////////////////*/
/*/////////////////////////////FACEBOOK///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

#facebookMobile{
	display: none;
}

#facebookTab{
	display: none;
}

aside {                   /*Placement de la section contenant réseaux sociaux*/
	margin-left: 5%;                  
	padding-left: 1%;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////MENTIONS LEGALES///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/

#mention {                       /*Arrière plan de la section comportant les mentions légales*/
	padding: 3%;
	background-color: white;
	box-shadow: 1px 2px 4px black;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////PRESENTATION///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

.presentation {                  /*Arrière plan de de la section contenant l'histoire et le palmarès*/
	padding: 3%;
	background-color: #F2F2F2;
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
}

.titreSection{
	background-color: rgba(18,110,122,0.7);
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3); 
	padding: 2%;
	color: white;
	margin: 0;
	margin-top: 2%;
}

#presentation h2{
	text-align: center;
}

#presentation img {
	width: 10%;
}

#Palmares h3{
	margin-top: 40px;
}

.btn-group {          /*Bouton chronologie*/
	margin-top: 2%;
	margin-left: 27%; 
}

span{
	color: #D65F09;
}

.btn-default{
	font-weight: 600;
	background-color: #1693a5;
	border-color: #1693a5;
}

#Grdf{
	color: white;
	margin-right: 2%;
}

.btnChrono {
	color: white;
}

/*////Pour l'affichage des textes de la chronologie////*/

#date1{
	display: none;
	margin-top: 2%;
}

#date2{
	display: none;
	margin-top: 2%;
}

#date3{
	display: none;
	margin-top: 2%;
}

#date4{
	display: none;
	margin-top: 2%;
}

#date5{
	display: none;
	margin-top: 2%;
}

#date6{
	display: none;
	margin-top: 2%;
}

#date7{
	display: none;
	margin-top: 2%;
}

#date8{
	display: none;
	margin-top: 2%;
}

#date9{
	display: none;
	margin-top: 2%;
}

/*//////////////////////////////////////////////////////////////////*/
/*/////////////////////////////CONTACT//////////////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

form {
	background-color: #1693a5;
	padding:2%;
	border-radius: 10px;
	color: white;
}

form h2 {
	padding-left: 4%;
	font-weight: 600;
}

form p {
	padding-left: 4%;
	margin-bottom: 2%;
}

label {
	margin-left: -5%;
}

.form-control {                             /*Champs du formulaire*/
	width: 50%;
	margin-bottom: 3%;
}

.form-control:focus {                      /*Lorsque l'on clique sur les champs du formulaire*/
  border-color: #5d5d5d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #5d5d5d, 0 0 8px #5d5d5d;
          box-shadow: inset 0 1px 1px #5d5d5d, 0 0 8px #5d5d5d;
}

#blocMail {
	margin-left: 13.3%;
}

#mail {
	width: 60%;
}

button {
	margin-left: 20%;
}

.form-group-lg .btn-default {
	color: #5d5d5d;
}

.texteContact {
	font-size: 0.8em;
}

#zoneTexte{
	margin:3% 0% 3% 2%;
	border-radius: 8px;
}

#labelZone{
	margin-top: 2%;
}

#contactFace{
	background-color: #1693a5;
	padding:10%;
	border-radius: 10px;
	color: white;
}

.glyphicon-home{
	color: white;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////PARTENARIATS/////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

#sectionPartenariat {
	padding: 3%;
	background-color: white;
	box-shadow: 1px 2px 4px black;
}

.logoInstitution{
	margin-top: 10%;
	height: 100px;
	width: 100px;
}

.logo {
	margin-top: 5%;
	width: 200px;
}

.photo{
	width: 50%;
	border-radius: 40px;
}

#sectionPartenariat h1{
	text-align: center;
	color: #1693a5;
	font-weight: 600;
	margin-bottom: 5%;
}

#sectionPartenariat h2{
	font-size: 25px;
}

#entete{
	font-size: 30px;
}

/*////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////GALERIE///////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/

#galerie {
    background-color: white; /*Fond de la section Fil d'actu*/
    padding-right: 1.1%;
    padding-left: 1.3%;
    box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
}

#galerie h1{ 
    margin-top: 0%;
    text-align: center;
    background-color: #008080 ;
    font-size:60px;
    color: white;
}

#galerie h2{
    text-align: center;
    background-color: #008080 ;
    color: white;
}

#galerie h3 {
    text-align: center;
    background-color: #008080 ;
    font-size: 30px;
    color: white;
}

#galerie img {
	margin-left:10%;
    width: 80%;
}

#galerie video {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 10%;
}

/*/////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////LA FABRIK///////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/

#fabrik {
	background-color: white; /*Fond de la section Fil d'actu*/
	padding:1% 3% 1% 3%;             
	box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
	margin-bottom: 2%;
}

#fabrik .col-md-9 {
	padding-left: 3%;
}

#assemblée{
	margin-top: 2%;
	
}

#carroussel{
	margin-left: 7.5%;
	padding-bottom: 5%;
}

.imageCarousel{
	width: 100%;
}

.projet{
	width: 70%
}

#projetAvenir{
	background-color: white;
	padding: 4%;
}

#titreProjet{
	background-color: rgba(18,110,122,0.7); 
	padding: 4%;
	color: white;
	margin: 0;
}

/*/////////////////////////////CARROUSSEL PHOTO///////////////////////////////*/

#h2photo {
	margin-left: 2%;
}

.carousel-page{
	margin-left: 10%;
	display: flex;
}

.img-responsive{
	width: 20%;
	height: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 7%;
}

.formatPaysage{
	padding-top: 10%;
}

span {                 /*Flèches*/
	padding-top: 6%;
	font-size: 2em;
	color: #1693a5;
}

.carousel-indicators li{
	border:1px solid #fbb829;
}

.carousel-indicators .active {
	background-color: #fbb829;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////FORMAT TEL///////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 640px){
	
/*/////////////////////Navigation//////////////////*/
	
	#logo{
		margin-top: -15%;
	}

	nav{
		margin-top: -20%;
		margin-left:20%;
	}

	.container{
		padding-right: 15px;
  		padding-left: 15px; 
	}

/*/////////////////////Navigation//////////////////*/

	footer{
		text-align: center;
	}

/*/////////////////////Citation//////////////////*/
	
	#citation{
		margin: 0;
		margin-bottom: 2%;
	}

/*/////////////////////Actu///////////////////////*/
	
	#filActu{
		margin: 0;
		box-shadow: none;
		padding: 4%;
	}

	.titreSection{
		box-shadow: none;
	}

	#filActu h1 {
		padding-left: 4%;
	}

	#filActu article {
		margin-top: 0%;
		padding-left: 4%;
	}

	#filActu img {
		display: none;
	}

	#filActu nav {
		margin-top: 5%;
	}

/*/////////////////////Presse///////////////////////*/
	
	#presse{
		box-shadow: none;
	}

	#presse h1{
		padding-left: 4%;
	}

	#presse article {
		margin-bottom: 10%;
		padding-left: 8%;
	}

	#lien2 {
		padding-bottom: 0;
	}

/*/////////////////////Facebook///////////////////////*/
	
	aside{
		margin-left: 0;
		background-color: white;
	}

	iframe{
		margin-left: 10%;
	}

	#facebookMobile{
		display: block;
		background-color:  #1693a5;
		padding: 4%;
	}

	#facebookOrdi{
		display: none;
	}

	#facebookTab{
		display: none;
	}

/*/////////////////////Présentation//////////////////*/
	
	.presentation{
		padding: 5%;
		box-shadow: none;
	}

	.btn-group {
		margin: 2% 0% 10% 9%;
		padding:0;
	}

	.btn-default{
		border-radius: 0;
		margin:0 2% 2% 0;
	}

	.articleChrono{
		margin-bottom: 10%;
	}

/*/////////////////////Contact//////////////////*/
	
	label{
		margin-left: 0;
	}

	.form-control{
		width: 100%;
	}

	#blocMail{                /*Bloc contenant le @ et le champ mail*/
		margin-left: 5%;
	}

	#mail {
		width: 94%;
		font-size: 1em;
	}

	.form-group-lg{          /*Bouton envoyer*/
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#zoneTexte{
		margin-left: 6%;
	}

	#contactFace{
		margin-top: 3%;
	}

	.glyphicon-home {
		color: white;
	}

/*/////////////////////Partenariat//////////////////*/

	.institution{
		padding: 4%;
	}
	
	#entete{
		font-size: 1.2em;
	}

	.photo{
		margin-top: 3%;
		width: 20%;
	}

	.logo{
		width: 40%;
	}

	.logoInstitution{
		margin-top: 0;
	}

	#sectionPartenariat{
        box-shadow: none;
        margin: 0;
    }

    #sectionPartenariat h3{
        margin-bottom: 10%;
    }

    #particuliers{
    	margin: 0;
    }

/*/////////////////////Galerie//////////////////*/

 	#galerie{
        box-shadow: none;
    }

    #galerie h3{
        margin-bottom: 10%;
    }

    #galerie img{
    	margin-left: 8%;
    }

    #galerie video {
    	padding: 3%;
    }

/*/////////////////////La fabrik///////////////////////*/
	
	#fabrik{
		box-shadow: none;
	}

	#fabrik img{
		margin-top: 0;
	}
	
	#fabrik h1{
		padding: 4%;
	}

	#fabrik article{
		padding: 4%;
	}

	#assemblée{
		width: 70%;
	}

	#facebookMobileFabrik{
		display: none;
	}


/*/////////////////////Carroussel photo///////////////*/

	#carroussel{
		margin-left: 0%;
	}

	.carousel-indicators{
		display: none;
	}

	.carousel-caption{
		visibility: hidden;
	}

	.formatPaysage{
		margin-top: 4%;
	}

	.imageCarousel{
		width: 100%;
	}

/*/////////////////////Mentions///////////////*/

	#mention{
		box-shadow: none;
	}

}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
						/*/////////////////////////////FORMAT TABLETTE///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 640px) and (max-width: 800px){

	header{
		margin-bottom: -15%;
	}

	nav{
		margin-top: -25%;
	}

	.navbar{
		font-size: 1.5em;
	}

	footer{
		padding: 4%;
		margin: 2% -2% 0%;
	}

	#citation{
		margin: 0% -2% 2% -2%;
		padding: 1%;
	}

	#presentation{
		margin-left: 0%;
	}

	.btn-group {          /*Bouton chronologie*/
	margin-top: 2%;
	margin-left: 15%;
	margin-bottom: 15%; 
	}

	.articleChrono{
		margin-bottom: 15%;
	}

	#facebookMobile{
		display: none;
	}

	#facebookTab{
		display: block;
		background-color:  #1693a5;
		padding: 3%;
	}

	#facebookOrdi{
		display: none;
	}

	.lien{
		margin-left: 50%;
	}

	#filActu{
		box-shadow: none;
		margin-right: 1%;
	}

	#filActu article{
		margin-top: 0;
	}

	#filActu img{
		margin: 0;
		margin-top: 0%;
		width: 40%;
	}

	.pager{
		margin-top: 55%;
	}

	#avantDernierArticle{
		border:none;
	}

	#dernierArticle{
		display: none;
	}

	#contactFace{
		margin-top: 3%;
	}

	#logo{
		margin-top: -20%;
	}

	#galerie{
		padding: 4%;
	}

	#galerie h1{
		margin:-4.3% -4.5% 0% -4.5%;
	}
}