  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 //-------------------------------------------------------ACTION--------------------------------------------------------//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


#titre{
	padding-top: 50px;
}
#titre1{
	padding-top: 50px;
}
#titre2{
	padding-top: 50px;
}
#titre3{
	padding-top: 50px;
}

#btngrdf{
	color: #FF8C00;
	width: 150px;
}