/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////CITATION////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
$color_citation: white;

blockquote {
	border-left:0;
	color: $color_citation;
	width: 100%;
	margin-top:18%;
	margin-bottom: 50px;
	background-color: rgba(18,110,122,0.5);
	font-size: 20px;
	footer {
		margin-top: 1%;
		color: $color_citation;
		background-color: unset;
	}
}