/*////////////Bouton Don////////////////////////*/
#placementDon{
	text-align: right;
}
#boutonDon {
	color: white;
	background-color: #F2F2F2;
	background-color: transparent;
	border: 1px solid white;
	span{
		color: #E0A377;
		font-size: 17px;
	}
}

#boutonDon:hover{
	color:#D9D9D9;
	background-color:#13808e;
}