/*////////////Bouton Don////////////////////////*/
#placementDon{
	text-align: right;
}
#boutonDon {
	color: white;
	background-color: #F2F2F2;
	background-color: transparent;
	border: 1px solid white;
    animation: border-pulsate 5s infinite;
	span{
		color: #E0A377;
		font-size: 17px;		
	}
}
@keyframes border-pulsate {
    0%   { background-color: #13808e; color: white; }
    50%  { background-color: white; color: #13808e;border: 1px solid #E0A377; }
    100% { background-color: #13808e; color: white; }
}

#boutonDon:hover{
	transform: scale(1.1);
	transition: 0.5s;
	border-radius: 25px;
	box-shadow: 2px 2px 2px grey;
}

