#galerie {
    background-color: white; /*Fond de la section Fil d'actu*/
    padding: 0 3% 0 2%;
    box-shadow: 6px 10px 18px 4px rgba(0,0,0,0.3);
    h2 {
        text-align: center;
        font-weight: 600;
        font-style: italic;
        color: $color_default;
        font-size: 2.4em;
        margin-bottom: 2%;
    }
    img {
        width: 100%;
    
    }
    .row{
        margin: 1%;
    }
}
.lightbox__caption p {
    font-size: 18px;
    line-height: 22px;
}




.rollopaque:hover img {
    opacity: 0.3;
    filter:alpha(opacity=10); 
   border:0; 
   }
   
.rollopaque:hover {
  background-color: rgba(74, 168, 181,1);
  padding:0;
}

.rollup{
    display: none;
}
.rollopaque:hover .rollup{
    display: block;
    position:absolute;
    color: white;
    top: 30%;
    left: 45%;
}
.col-md-6{
    padding:8px;
}