#galerie {
    margin-top: 4%;
    img {
        padding-left: 3%;
        padding-right: 3%;
        position:absolute;
        z-index: 100;
    }
    .row{
        margin-bottom: 20%;
    }
    .col-md-12{
        padding: 0;
    }
    .col-md-3{
        padding:0;
    }
}
.lightbox__caption p {
    font-size: 18px;
    line-height: 22px;
}

img:hover {
    opacity: 0.3;
    filter:alpha(opacity=10); 
    border:0;
    position:absolute;
    z-index: 1; 
}
.rollopaque img{
    position:absolute;
    z-index: 1;
    top:0; 
    height: 150px;
    width: 290px;
}  
.rollopaque img:hover {
  display: block;
  z-index: 10;
}
