/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// HEADER & NAVBAR ////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

.navbar #top{ /* Zone logo & recherche */
	background:{
		image: url(../../img/header_background.png);
		position: 52% 100%;
		size: cover;
	}
	padding: 15px 35px;
	@include centreFlex;
	justify-content: space-between;
}
#btndonnav{
	display:none;
}

.navbar #top img{ /* Logo FACE */
	width: 300px;
	height: 111px;
}

.navbar #top .search{ /* Bloc de recherche */
	position: relative;
	width: auto;
	display: table;
}

.navbar #bottom{ /* Zone menu & navigation */
	background-color: #E79063;
	border-bottom: 3px solid $couleur2;
	font:{
		family: 'Fjalla One', sans-serif;
		size: 18px;
	}
	@include boxShadow;
}

.navbar #bottom .container{ /* Boîte des liens */
	margin-top: 0px;
}

.navbar #bottom .container .navbar-nav { /* Sous-boite des liens */
	width: 100%;
	text-align: center;
}

.navbar #bottom .container .navbar-nav > li { /* Centrer les li */
	float: none;
	display: inline-block;
}

.navbar #bottom .container .nav #active{ /* Lien actuel */
	background-color: $couleur2;
}

.navbar #bottom .container .nav a{ /* Texte des liens */
	color: $blanc;
	text-transform: uppercase;
	transition: 300ms cubic-bezier(0.4, 0, 1, 1);
	padding: 10px 30px;
}
.navbar #bottom .container .nav > li > a:hover { /* Texte des liens au survol */
	background-color: $couleur1;
}

.navbar #bottom .container .nav > li > a:focus { /* Texte des liens au clic */
	background-color: $couleur2;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: $couleur1;
}

.dropdown-menu { /* Menu déroulant */
	background-color: $couleur2;
	text-align: center;
	border: 0px;
	min-width: auto;
}

.dropdown-menu li a { /* Texte des liens */
	color: $blanc;
	font-size: 16px;
}

.navbar-nav > li > .dropdown-menu{
	left: 0;
	right: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ /* Texte des liens au survol */
	background-color: $couleur1;
}

///////////////////////// MOBILE FIRST /////////////////////////

.navbar #bottom .container .bars{
	background-color: transparent;
	@include bordure(1px, $blanc);
	border-radius: 5px;
	
	text-align: center;
	font-size: 30px;
	padding:{
		top: 0px;
		right: 10px;
		bottom: 0px;
	}
	color: $blanc;
	margin:{
		bottom: 10px;
		top: 10px;
		right: 15%;
	}
	float: right;
}

.navbar #bottom .container .text{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: $blanc;
	top: 5px;
	margin:{
		bottom: 0px;
		top: 0px;
	}
	padding-left:10%;
	float: left;
}

/////////////////////// PARAMÈTRES RESPONSIVE ///////////////////
@media screen and (max-width: 1024px){
	.navbar #top{
		background-position: 50% 50%;
	}
}

@media screen and (max-width: 767px){
	.navbar #top{
		background-position: 47% 50%;
	}

	.navbar #bottom .container .navbar-nav {
		text-align: left;
	}

	.navbar #bottom .container .navbar-nav > li {
		float: none;
		display: block;
	}
}

@media screen and (max-width: 425px){
	.navbar #top{
		background-position: 46% 50%;
	}
}

@media screen and (max-width: 425px){
	.navbar #top{
		padding: 15px 15px;
		margin-top: 20%;
	}

}