
#sectionPartenariat {
	padding: 3%;
	background-color: $background_color_section;
	box-shadow: $shadows;
	h2{
			font-weight: 600;
			font-style: italic;
			color: $color_default;
			font-size: 2.4em;
			margin-bottom:2%;
		}
	h3{
		font-size: 25px;
		margin-bottom: 3%;
	}
}
.logo{
	padding-top: 20%;
	width: 70%;
}
.photo{
	width: 50%;
}