$box_shadow_tel:none;
@media screen and (max-width: 640px){
	
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////NAVIGATION//////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
	
	#boutonDon{
		margin-right: 0;
	}

	#placementDon{
		text-align: center;
	}

	#logo{
		margin:-15% 0 0 0;
	}

	.navbar{
		margin-top: -20%;

	}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////CITATION////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

	blockquote{
		margin-top: 50%;
		font-size: 1em;
		h3{
			font-size: 1.4em;
		}
	}
	
	#decalageAccueil{
		margin-top: 20%;
	}
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////PAGE ACCUEIL////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////Actu///////////////////////*/
	
	#filActu{
		box-shadow: $box_shadow_tel;
		padding: 4% 0% 4% 8%;
		img {
			display: none;
		}
	}

	.titreSection{
		box-shadow: $box_shadow_tel;
		text-align: center;
	}

	.decalage{
		margin-top: 70%;
	}

	.decalage2{
		margin-top: 40%;
	}
/*/////////////////////Presse///////////////////////*/
	
	#presse{
		box-shadow: $box_shadow_tel;
	}

	.articles .row {
		margin: 0;
	}

	#presse article {
		margin-bottom: 10%;
	}

	.lien{
		position: initial;
	}

/*/////////////////////Facebook///////////////////////*/
	
	aside{
		margin-left: 0;
	}

	#facebookMobile{
		display: block;
		background-color: #1693a5;
		padding: 4%;
	}

	#facebookOrdi{
		display: none;
	}

	#facebookTab{
		display: none;
	}

/*/////////////////////Présentation//////////////////*/
	
	#presentation{
		padding: 5% 5% 30% 5%;
		box-shadow: $box_shadow_tel;
	}

	.btn-group {
		margin: 2% 0% 10% 9%;
		padding:0;
	}

	.btn-default{
		border-radius: 0;
		margin:0 2% 2% 0;
	}
/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////PAGE ACTIONS////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
	#action{
		padding-left:4%;
		padding-right:3%;
	}

/*/////////////////////Contact//////////////////*/
	
	#decalageContact{
		margin-top:50%;
	}

	#sectionContact label{
		margin-left: 0;
	}

	#sectionContact .form-control{
		width: 100%;
	}

	#blocMail{                /*Bloc contenant le @ et le champ mail*/
		margin-left: 5%;
		width: 94%;
		input{
			font-size: 1em;
		}
	}

	#sectionContact .form-group-lg{          /*Bouton envoyer*/
		margin-bottom: 5%;
	}

	#zoneTexte{
		margin-left: 6%;
	}

	#contactFace{
		margin:3% 0 3% 0;
	}

/*/////////////////////Partenariat//////////////////*/

	#sectionPartenariat{
        box-shadow: $box_shadow_tel;
        margin: 0;
        padding: 4%;
        h3{ 
       		font-size: 1.5em;
    	}
    }

     #sectionPartenariat .row {
    	margin: 0;
    }

	.photo{
		margin-top: 3%;
		width: 20%;
	}

	.logo{
		width: 40%;
	}

/*/////////////////////Galerie//////////////////*/

 	#galerie{
        box-shadow: none;
        padding: 0;
    }

    #galerie .row {
    	margin: 0;
    }

    .lightbox__caption p {
    	font-size: 12px;
    	line-height: 18px;
	}

	.carousel-control2{
		font-size: 40px;
	}

	.carousel-page2{
		margin-top: 5%;
	}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////PAGE LA FABRIK//////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
	
	#fabrik{
		box-shadow: $box_shadow_tel;
		padding: 4%;
		article{
			padding: 4%;
		}
	}

	#sectionFabrik{
		margin: 0;
	}

	.row #sectionApprenant{
		margin: 0;
		padding: 0;
	}

	#sectionApprenant {
		padding-left: 0;
		padding-right: 0;
	}

	.boutonMobile{
		display: block;
		width: 100%;
		color: white;
		border-radius: 5%;
	}

	.mobileApprenant{
		display: none;
	}

/*/////////////////////Carroussel photo - MobilFirst///////////////*/

	.carousel-indicators{
		display: none;
	}

	.carousel-caption{
		visibility: hidden;
	}

	.carousel-control{
		font-size: 40px;
	}

	.carousel-page{
		margin-top: 5%;
	}

	#pagePhoto{
		margin: 0;
	}

/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////PAGE DON////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/
	#don .row{
		padding-left:10%;
		padding-right:9%;
	}
/*/////////////////////Mentions///////////////*/

	#mention{
		box-shadow: $box_shadow_tel;
	}
}
