$blanc:#FFFFFF;
$miniLarge:100px;
$miniHauteu:100px;
@mixin maxDimension{
	max-height: 500px;
	max-width: 500px;
}
#container{ display: flex;}

/*///////////////////////////////////////////////////////////////////
////////////////////// ADMIN.PHP AJOUTARTICLE.PHP////////////////////////////////////
///////////////////////////////////////////////////////////////////*/

.connexion{
	width:400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 100px;
	text-align: center;
	margin:auto;

	form{
		display: flex;
		flex-direction: column;
	}
}

/*::::::::::::: ajoutArticle.php ::::::::::::::::::::*/

#visualisation{
	margin-top: 100px;
	text-align: center;
	width: 50%;
}
#paragrapheVisuel{
	min-height: $miniHauteu;
	@include maxDimension;
	word-wrap: break-word;
	overflow-y: scroll;
	background-color: transparent;
	margin: auto;
}
#paragraphe{
	min-width: $miniLarge;
	min-height: $miniHauteu;
	@include maxDimension;
}

/*/////////////////////////////////////////////////////////////////////////
///////////////////////// AJOUTE\AFFICHEARTICLE.PHP ///////////////////////
/////////////////////////////////////////////////////////////////////////*/

#sectionAdmin{
	padding: 50px;
}
#sectionArticle{
	display: flex;
	flex-wrap: wrap;
}

/* ajoutArticle quand clique sur "Gérer les publications" */

#articleAdmin{
	width: 33%;
	height: 100%;
	overflow-y: scroll;
	border:1px solid black;
	text-align: center;

	img{
		width: 100%;
	}

	article{
		line-height: 25px;
	}
}