
$couleur1:#D5855C;
$couleur2:#8b563c;
$couleur3:#f8f8f8;
$couleur4:#1e5d74;
$blanc:#FFFFFF;

@mixin centreFlex{
	display:flex;
	justify-content:center;
	align-content:center;
	align-items: center;
}
@mixin bordure($large, $color){
	border: {
		top:$large;
		right: $large;
		bottom: $large;
		left: $large;
		style: solid;
		color: $color;
	}
}
@mixin boxShadow{
	-webkit-box-shadow: -1px 16px 20px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: -1px 16px 20px 0px rgba(0,0,0,0.28);
	box-shadow: -1px 16px 20px 0px rgba(0,0,0,0.28);
}

body {
	padding: 0%;                /*Mise à zéro marges intérieures*/
	margin: 0%;                 /*Mise à zéro marges extérieures*/
    background: url(https://s-media-cache-ak0.pinimg.com/736x/82/a6/6c/82a66c6b69a61564494a682e4fb0d704.jpg) no-repeat center fixed; 
    background-size: cover; /*Couleur de fond de la page*/
    overflow-x: hidden;
}

.container{                   /*Mise à zéro du padding du container de bootstrap*/
	padding: 0;
}

.decalage{
	margin-top:15%;
}

.decalage2{
	margin-top:15%;
}
#logo {
	width: 100%; /*Taille*/
}


@import '_don.scss';
@import '_nav.scss';
@import '_citation.scss';
@import '_footer.scss';
@import '_accueil.scss';
@import '_présentation.scss';
@import '_contacts.scss';
@import '_partenariat.scss';
@import '_galerie.scss';
@import '_fabrik.scss';
@import '_pagedon.scss';
@import '_resptel.scss';
@import '_resptab.scss';	