@charset "UTF-8";
#container {
  display: flex; }

/*///////////////////////////////////////////////////////////////////
////////////////////// ADMIN.PHP AJOUTARTICLE.PHP////////////////////////////////////
///////////////////////////////////////////////////////////////////*/
.connexion {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
  margin: auto; }
  .connexion form {
    display: flex;
    flex-direction: column; }

/*::::::::::::: ajoutArticle.php ::::::::::::::::::::*/
#visualisation {
  margin-top: 100px;
  text-align: center;
  width: 50%; }

#paragrapheVisuel {
  min-height: 100px;
  max-height: 500px;
  max-width: 500px;
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: transparent;
  margin: auto; }

#paragraphe {
  min-width: 100px;
  min-height: 100px;
  max-height: 500px;
  max-width: 500px; }

/*/////////////////////////////////////////////////////////////////////////
///////////////////////// AJOUTE\AFFICHEARTICLE.PHP ///////////////////////
/////////////////////////////////////////////////////////////////////////*/
#sectionAdmin {
  padding: 50px; }

#sectionArticle {
  display: flex;
  flex-wrap: wrap; }

/* ajoutArticle quand clique sur "Gérer les publications" */
#articleAdmin {
  width: 33%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid black;
  text-align: center; }
  #articleAdmin img {
    width: 100%; }
  #articleAdmin article {
    line-height: 25px; }
