@charset "UTF-8";
#container {
  display: flex; }

/*///////////////////////////////////////////////////////////////////
////////////////////// ADMIN.PHP AJOUTARTICLE.PHP////////////////////////////////////
///////////////////////////////////////////////////////////////////*/
.connectionAdmin {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  margin-top: 100px;
  padding: 16px;
  background: #F7F7F7; }
  .connectionAdmin h1 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px; }

.connectionAdmin input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 10%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif; }

.connectionAdmin input:focus {
  box-shadow: 0 0 5px #43D1AF;
  padding: 3%;
  border: 1px solid #43D1AF; }

.connectionAdmin button[type="submit"], .changeMdp {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #43D1AF;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff; }

.connectionAdmin input[type="submit"]:hover, input[type="button"]:hover {
  background: #2EBC99; }

#retourSite {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 10%;
  padding: 1%;
  position: fixed;
  background: #43D1AF;
  border-radius: 5px;
  margin-top: 20px;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff; }
  #retourSite a {
    color: #FFFFFF;
    text-decoration: none; }

/*::::::::::::: ajoutArticle.php ::::::::::::::::::::*/
#visualisation {
  margin-top: 100px;
  text-align: center;
  width: 50%; }

#paragrapheVisuel {
  min-height: 100px;
  max-height: 500px;
  max-width: 500px;
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: transparent;
  margin: auto; }

#paragraphe {
  min-width: 100px;
  min-height: 100px;
  max-height: 500px;
  max-width: 500px; }

/*/////////////////////////////////////////////////////////////////////////
///////////////////////// AJOUTE\AFFICHEARTICLE.PHP ///////////////////////
/////////////////////////////////////////////////////////////////////////*/
#sectionAdmin {
  padding: 50px; }

#sectionArticle {
  display: flex;
  flex-wrap: wrap; }

/* ajoutArticle quand clique sur "Gérer les publications" */
#articleAdmin {
  width: 33%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid black;
  text-align: center; }
  #articleAdmin img {
    width: 100%; }
  #articleAdmin article {
    line-height: 25px; }
