#container {
  display: flex; }

.connexion {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
  margin: auto; }
  .connexion form {
    display: flex;
    flex-direction: column; }

#navbar {
  background-color: #C0C0C0;
  color: #FFFFFF;
  height: 1200px; }

#navAdmin li {
  text-align: center;
  width: 100%;
  border: 1px inset black; }
  #navAdmin li a {
    color: #FFFFFF;
    line-height: 50px;
    text-transform: uppercase; }
    #navAdmin li a:hover {
      text-decoration: none; }

.admin {
  margin: 10px; }

#sectionAdmin {
  padding: 50px; }

#visualisation {
  margin-top: 100px;
  text-align: center;
  width: 50%; }

#paragraphe {
  min-width: 100px;
  min-height: 100px;
  max-height: 500px;
  max-width: 500px; }

#paragrapheVisuel {
  min-height: 100px;
  max-height: 500px;
  max-width: 500px;
  word-wrap: break-word;
  overflow-y: scroll;
  background-color: transparent;
  margin: auto; }

#sectionArticle {
  display: flex;
  flex-wrap: wrap; }

#articleAdmin {
  width: 33%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid black;
  text-align: center; }
  #articleAdmin img {
    width: 100%; }
  #articleAdmin article {
    line-height: 25px; }
